html {
  scroll-behavior: smooth;
  font-family: "Mochiy Pop P One", sans-serif;
}

body {
  margin: 0px;
  background-color: #dea960;
  height: 100%;
}

#intro,
#gallery,
#testimonials {
  min-height: 100vh;
  padding-top: 40px;
}

a{
  text-decoration: none;
}
/* HEADER START */

header {
  top: 0;
  position: fixed;
  background-color: rgb(114, 126, 130);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  z-index: 1;
}

a #logo {
  margin-top: 5px;
  margin-left: 5px;
}

#logo {
  width: 50px;
  height: 40px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin: -10px 10px;
  font-size: medium;
}

li a {
  color: #dea960;
}

#links {
  color: darkblue;
  text-align: center;
  margin-top: 22px;
  font-size: larger;
}

h1,
h2 {
  text-align: center;
}
/* HEADER END */

/* INTRO START */
#intro-contents {
  padding: 50px 10px;
  text-align: center;
}

#intro-img {
  width: 80%;
  height: 60%;
  border: 2px solid blue;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: lightblue;
  border: 2px solid lightblue;
  border-radius: 20px;
  cursor: pointer;
}

button:active {
  background-color: #6fbbd5;
  border-color: #6fbbd5;
}
/* INTRO END */

/* GALERY START */

#gallery {
  background-color: #cca98d;
}

#photos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 15%;
}

.photo img {
  width: 150px;
  height: 150px;
  border: 2px solid blue;
  border-radius: 10px;
}

.photo p{
  font-size: small;
  text-align: center;
}

/* GALLERY END */

/* QUOTE START */
blockquote {
  padding: 10px 15px;
  margin: 20px 10%;
  font-size: smaller;
  background-color: darkolivegreen;
  border-radius: 10px;
}

cite {
  display: block;
  text-align: right;
}
/* QUOTE END */

/* SIGNUP START */
#signup {
  background-color: lightgrey;
  margin: 5% 15%;
  text-align: center;
}

#signup p {
  padding: 20px 30px;
}
/* SIGNUP END */

/* FOOTER START */
footer p {
  text-align: center;
  color: white;
  
}
/* FOOTER END */

@media (min-width: 600px) {
  #intro-img {
    height: 300px;
    width: 500px;
  }

  #photos {
    flex-direction: row;
    justify-content: space-evenly;
  }

  blockquote {
    padding: 50px 40px;
    margin: 30px 15%;
    font-size: medium;
  }

  #signup {
    margin: 10% 20%;
  }
}
